@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body{
    font-family: 'Roboto Condensed', sans-serif;
}
/* nav-bar */

 /* home */
  .home h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #00bfff;
  }
  .home h2 {
    color: #444444;
    margin: 15px 0 0 0;
    font-size: 26px;
  }
  .home .btn-get-started {
    margin-top: 30px;
    line-height: 0;
    padding: 15px 40px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #00bfff;
    box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
    text-decoration: none;
  }
  .home .btn-get-started span {
    font-family: "Poppins SemiBold";
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    
  }
  .home .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
  }
  .home .btn-get-started:hover i {
    transform: translateX(5px);
  }
  .home .home-img {
    text-align: right;
  }
  .home img{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .home{
    margin-bottom: 80px;
  }
  /* @media (min-width: 1024px) {
    .hero {
      background-attachment: fixed;
    }
  }
  @media (max-width: 991px) {
    .hero {
      height: auto;
      padding: 120px 0 60px 0;
    }
    .home .home-img {
      text-align: center;
      margin-top: 80px;
    }
    .home .home-img img {
      width: 80%;
    }
  } */
  /* @media (max-width: 768px) {
    .home {
      text-align: center;
    }
    .home h1 {
      font-size: 32px;
    }
    .home h2 {
      font-size: 24px;
    }
    .home .home-img img {
      width: 100%;
    }
  } */



/* about */
.about{
    margin-bottom: 80px;
}
.about .content {
    background-color: #f6f9ff;
    padding: 40px;
  }
  .about h3 {
    font-size: 14px;
    font-weight: 700;
    color: #4154f1;
    text-transform: uppercase;
  }
  .about h2 {
    font-size: 24px;
    font-weight: 700;
    color: #012970;
  }
  .about p {
    margin: 15px 0 30px 0;
    line-height: 24px;
  }
  .about img{
    margin-bottom: 40px;
  }
 
 /* contact */
.contact .info-box {
    color: #00bfff;
    background: #fafbff;
    padding: 30px;
  }
  .contact .info-box i {
    font-size: 38px;
    line-height: 0;
    color: #00bfff;
  }
  .contact .info-box h3 {
    font-size: 20px;
    color: #012970;
    font-weight: 700;
    margin: 20px 0 10px 0;
  }
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  .contact .info-box p a{
    text-decoration: none;
    color: #00bfff;
  }
  .section-header {
    text-align: center;
    padding-bottom: 40px;
  }

  .section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #00bfff;
    text-transform: uppercase;
  }
  .section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #00bfff;
  }
  /* services */
  .services {
    margin-bottom: 80px;
  }
  .services .service-box {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    height: 100%;
    padding: 60px 30px;
    text-align: center;
    transition: 0.3s ease-out;
    border-radius: 5px;
  }
  .services .service-box h3{
    color: #00bfff;
  }
  .services .service-box p{
    font-family: "Poppins SemiBold";
  }
  /* team */
  .team{
    margin-bottom: 80px;
    /* background: #fff; */
    padding: 60px 0;
  }
  .team .member {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    transition: 0.3s;
  } 
  .team .member .member-img {
    position: relative;
    overflow: hidden;
  }

.team .member .member-info h4{
    color: #00bfff;
    font-weight: 700;
    font-size: 20px;
}
.team .member .member-info span{
    font-weight: 400;
    font-size: 14px;
    font-family: "Poppins SemiBold";
    color: #00bfff;
}
.team .member .member-info p {
    font-style: italic;
    font-size: 14px;
    padding-top: 15px;
    line-height: 26px; 
  }
  .team .member:hover{
    transform: scale(1.08);
    transition: 1.6s ease-out;
  }
  .garrely{
    margin-bottom: 80px;
  }
  /* footer */
  .footer {
    background: #f6f9ff;
    padding: 0 0 30px 0;
    font-size: 14px;
    margin-top: 30px;
  }
  .footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #00bfff;
  }

  .back-to-top{
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background: #4154f1;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  .back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }
  .back-to-top:hover {
    background: #6776f4;
    color: #fff;
  }
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
